
/*commented for reuse*/*/
 * {
   outline: 1px solid red !important;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;    
    color: #3A473A; 
    font-weight: 300;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #aaa;
}
footer{
    font-family: sans-serif;
    font-size: 20px;
    margin: auto;
}

.signupitems {
  display: flex;
}

.error{
  font-weight: 600;
  color:red;
}
